<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Title example</title>
</head>
<body>
    
    <header>
        <div class="head">
            <h1>Meu template</h1>
            <p>Uma breve descrição do meu template</p>
        </div>

        <div class="topnav">
            <a href="#">Principal</a>
            <a href="#">Blog</a>
            <a href="#">Sobre</a>
            <a href="#">Login</a>
        </div>
    </header>

    <main>

        <div class="leftcolumn">
            <div class="card">
                <h2>Título da informação principal</h2>
                <h5>Uma breve descrição da notícia ou informação, Alguma lugar 14/03/2021</h5>
                
                <div class="fakeimage">Imagem</div>
                <p>Um breve resumo...</p>
                <p>Mais algumas informações sobre o que você quer falar.</p>
            </div>
        </div>

        <div class="rightcolumn">
            <div class="card">
                <h3>Informaçãoes principais</h3>
                
                <div class="fakeimage2"><p>Imagem</p></div>
                <div class="fakeimage2"><p>Imagem</p></div>
                <div class="fakeimage2"><p>Imagem</p></div>
            </div>

            <div class="card">
                <h3>Siga-me</h3>
                <p>Adicione suas redes sociais favoritas</p>
            </div>

        </div>

    </main>

    <footer>
        <h2>Rodapé</h2>
    </footer>

</body>
</html>