* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    padding: 30px;
}

.head {
    background-color: white;
    padding: 30px;
    text-align: center;
}

.head > h1 {
    font-size: 50px;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav > a {
    text-decoration: none;
    color: #f1f1f1;
    display: block;
    float: left;
    padding: 14px 16px;
}

.topnav > a:last-child {
    float: right;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.leftcolumn {
    float: left;
    width: 75%;
}

.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

.card {
    background-color: white;
    margin-top: 20px;
    padding: 20px;
}

.fakeimage {
    background-color: #aaa;
    width: 100%;
    height: 200px;
    padding: 20px;
}

.fakeimage2 {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

main::after {
    content: "";
    display: table;
    clear: both;
}

footer {
    text-align: center;
    background-color: #ddd;
    padding: 20px;
    margin-top: 20px;
}